// $color-1: #00a7ff;
$color-1: #4abbe1;
$color-2: rgba(0, 166, 255, 0.302);
$color-3: #ffffff;

body,
#root,
.App {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
#svg {
    width: 100%;
    height: 100%;
}
.select-border {
    stroke: $color-1;
    fill: none;
    fill-opacity: 0;
    stroke-width: 1;
}
.resize-handle {
    fill: $color-3;
    stroke-width: 1;
    stroke: $color-1;
    &.nw {
        cursor: nw-resize;
    }
    &.n {
        cursor: n-resize;
    }
    &.ne {
        cursor: ne-resize;
    }
    &.e {
        cursor: e-resize;
    }
    &.se {
        cursor: se-resize;
    }
    &.s {
        cursor: s-resize;
    }
    &.sw {
        cursor: sw-resize;
    }
    &.w {
        cursor: w-resize;
    }
}
.rotate-handle {
    fill: transparent;
    &.nw {
        cursor: url("nw.svg"), pointer;
    }
    // &.n {
    //     cursor: n-rotate;
    // }
    // &.ne {
    //     cursor: ne-rotate;
    // }
    // &.e {
    //     cursor: e-rotate;
    // }
    // &.se {
    //     cursor: se-rotate;
    // }
    // &.s {
    //     cursor: s-rotate;
    // }
    // &.sw {
    //     cursor: sw-rotate;
    // }
    // &.w {
    //     cursor: w-rotate;
    // }
}
.path-point-handle {
    fill: $color-3;
    stroke-width: 1;
    stroke: $color-1;
    &.selected,
    &:hover {
        fill: $color-1;
    }
    // cursor: grab;
    &.new {
        fill: $color-1;
        stroke-width: 1;
        stroke: $color-1;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}

.bezier-handle-line {
    stroke: $color-1;
}
.outline {
    stroke-width: 1;
    stroke: $color-1;
    stroke-opacity: 0.4;
    pointer-events: none;
    fill: none;
    &.primary {
        stroke-opacity: 1;
    }
}
.create-item-selector {
    fill: $color-2;
    stroke-width: 1;
    stroke: $color-3;
    pointer-events: none;
}
.selection {
    transition: opacity 0.6s ease;
    &.rotating,
    &.resizing,
    &.moving {
        pointer-events: none;
        opacity: 0.4;
    }
}
.path-editor-item-outline {
    fill: none;
    stroke-width: 8;
    stroke: $color-1;
    opacity: 0;
    &:hover {
        stroke: $color-2;
    }
}
